.box {
  position: relative;
  top: 10px;
  left: 5px;
  flex: 1 1 auto;
  order: 1;
  width: 320px;
  background-color: slategray;
  box-sizing: border-box;
  font-size: 1.5rem;
  transition: opacity 300ms ease;
  pointer-events: all;
  grid-gap: 16px;
}

.box:before {
  content: "";
}
